.blockcard{
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #ffff;
    margin: 20px 0;
}

.blockcard-image{
    width: 20%;
}

.blockcard-image img{
    width: 100%;
    height: auto;
}

.blockcard-image #imgname{
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    color: #626E79;
}

.blockcard-content{
    width: 55%;
    padding: 10px;
}

.blockcard-content h4{
    font-weight: 700;
    color: #2C384A;
}

.blockcard-content p, .blockcard-content h4{
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
}

.blockcard-content p{
    font-weight: 400;
    color: #4B5665;
}

.blockcard-content p span{
    font-weight: 700;
}

.blockcard-content #text{
    padding-left: 20px;
}

.blockcard-content #btn{
    color: var(--color-btn);
}

.blockcard-content .fa-angle-down {
    font-size: 12px;
}

.blockcard-rating{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    padding: 0 10px;
    border-radius: 0px 0px 12px 12px;

}

.blockcard-rating-content{
    width: 135px;
    height: 118px;
    background: #F3F9FF;
    margin: 0 auto;
}

.blockcard-rating-content h1{
    color: #074786;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
}

.blockcard-rating-content h4{
    color: #074786;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.blockcard-rating-content p{
    text-align: center;
    padding: 10px 0;
}

.blockcard-rating-btn{
    position: relative;
    height: 48px;
    margin-right: 10px;
}

.blockcard-rating-btn p{
    background: var(--color-btn);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: #ffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

