@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://kit.fontawesome.com/a076d05399.js');

.footer{
    background: var(--color-navbar);
    width: 1592px;
    height: 452px;
    position: relative;
    margin: 0 5px 10px 5px;
}

.footer-container{
    width: 70%;
    height: 452px;
    position: relative;
    margin: 0 auto;
}
.footer-row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}


.footer-col{
   width: 25%;
   padding: 15px;
}
.footer-col h4{
	font-size: 16px;
    line-height: 24px;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 10px;
	font-weight: 400;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--color-title);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a, .footer-col ul li, .footer-col2 ul li a{
	font-size: 13px;
	text-transform: capitalize;
	color: #D1D6DA;
	text-decoration: none;
	font-weight: 400;
    line-height: 20px;
	display: block;
}

.footer-col2{
	width: 35%;
	margin: auto;
}


