
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,600;1,400&display=swap");
:root {
  --font-family: 'EB Garamond', serif;
  --color-bg:#FBFCFD;
  --color-btn:#1B88F4;
  --color-subtext: #D1D6DA;
  --color-text: #2C384A;
  --color-navbar: #2a3139;
  --color-footer: #212731;
}

body::-webkit-scrollbar{
  
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}
              
